*{
    background-color: rgb(43, 0, 63);
    color: rgb(239, 173, 255);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}
title{
    background-color:rgb(239, 173, 255);
}


img{
    height: 200px;
}
.Login {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
.formlogin {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.mail,
.contraseña,
.buttonlogin {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
.buttonlogin {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
.cuentant {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}






  .recover {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .metodorecover {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .mailrecover,
  .checkrecover,
  .recuperarrecover {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .recuperarrecover {
    background-color: #007bff;
    color: #fff;
  }

  /* header y footer*/
  header, footer {
    background-color:rgba(239, 173, 255, 0.6);
    padding: 10px;
    height: max-content;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }


  .nav{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
  }
  
  a{
    text-decoration: none;
  }

  li{
    list-style-type: none;
  }

  .paginas{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 12px 24px;
    width: 100px;
    display: inline-block;
  }
  
  .logo{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 20px;
  }

  footer p{
    background-color: black;
    color: white;
    text-align: center;
  }
  footer{
    height: 70px;
    margin-top: 40px;
    margin-bottom: 0;
    opacity: 0.6;
  }

/*accesorios*/

.categorias{
  height: 80vh;
}


.Gorro2{
  height: 80vh;
  border: 5px solid rgb(239, 173, 255);

}

.lista-gorros{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.Gorro2 img{
  border-radius: 15px;
  height: 200px;
  width: 160px;
  
}

.texto, .texto p, h2{
  text-align: center;
 background-color:  rgba(239, 173, 255, 0);
}

.lista-gorros a{
  text-align: center;
  color: black;
  background-color: rgb(239, 173, 255);
}

.categorias li{
  border: 5px solid rgb(239, 173, 255);
  padding: 20px;
  background-color: rgba(239, 173, 255, 0.251);
}

/*detalle de producto*/

.refran{
  font-family: "Jacquard 24", system-ui;
  font-weight: 500;
  font-style: normal;
  text-align: end;
  font-size: 80px;
}

.productodetalle{
  height: 50vh;
  text-align: left;
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 40px;
  border: 5px solid rgb(239, 173, 255);
}

div img{
  height: 290px;
  width: 250px;
  border-radius: 15px;
  margin: 20px;
  order: 0;
}

.detalles{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgba(239, 173, 255, 0.251);
  border-radius: 15px;
  padding: 60px;
}

.detalles p, .detalles h2{
  background-color: rgba(239, 173, 255, 0);
} 

.precio{
  text-align: center;
  margin: 20px;
}

.detalles a, nav{
  text-align: center;
  background-color: rgb(239, 173, 255);
  color: black;
  margin-top: 20px;
}

/*registro*/

.registro {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(43, 0, 63);
}

.formregistro {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.email, .contraseña,.buttonlogin {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.buttonregister {
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.volverlogin {
  text-decoration: none;
  color: #007bff;
  margin-right: 10px;
  text-align: center;
  font-size: 20px;
}

.fotoregistro{
width: fit-content;
height: 790px;
border-radius: 0px;
margin: 0;
}

.refran2{
  order: 0;
}
.formulario{
  display: flex;
  flex-direction: column;
}

.formregistro{
  background-color: rgba(239, 173, 255, 0.251);
  margin: 10px;
}

.acepto, .buttonregister, .acepto2{
  background-color: rgba(239, 173, 255, 0);
  padding: 5px;
}
